.details {
  padding: 20px;
  .description {
    font-size: 14px;
    background-color: lightgray;
    padding: 16px;
    text-align: center;
  }
  .add-description {
    color: #004570;
  }
  .company-name {
    color: #004570;
    padding-top: 14px;
  }
  .no-data-text {
    text-align: center;
    padding: 20px;
  }
}
